doctype html
html(lang="ru")
  include partials/head.pug
  .wrapper
    mixin insertArticleImage(article)
      img(src=`/img/${article.picture ? article.picture : 'background_img.jpg'}` alt=article.title width="460" height="240")
    mixin ticketLabel(type)
      span.ticket-card__label #{type === `offer` ? `Куплю` : `Продам`}
    include partials/header.pug
    block content
    include partials/footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
